.headerContext {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  height: calc(0.2 * var(--HMain));

  // gap: 2px;
}

.logout {
  align-self: center;
}